@model Parliament.Interact.Web.Models.IssueViewModel

@{
    var secondaryActionCount = 0;
}

<div class="parl-action-items">
    @foreach (var action in Model.ActionsItems)
    {
        var columnClass = "";
        var outsideColumnClass = "col-xs-12 col-md-12";
        if (!action.IsPrimary)
        {
            secondaryActionCount++;
            columnClass = "parl-small-action-item";
            if (secondaryActionCount % 2 == 0)
            {
                columnClass += " parl-small-action-item-last";
            }
            outsideColumnClass = "col-xs-12 col-md-6";
        }

        <div class="@outsideColumnClass">
            @if (action.DistributeOverTwoColumns)
            {
                <div class="parl-action-item parl-action-item-sub-start col-xs-12 col-md-6">
                    <h3>@action.Title</h3>
                    <div class="parl-action-time">
                        <img src="~/Content/img/stopwatch-28x28.svg" class="stopwatch"/>@action.Eta
                    </div>
                    <div class="parl-action-basic-content">
                        @Html.Raw(action.BasicContent)
                    </div>
                </div>
                <div class="parl-action-item-sub col-xs-12 col-md-6">
                    <div class="parl-action-content">
                        @Html.Partial(action.ActionView, action.ActionModel)
                    </div>
                </div>
            }
            else
            {
                <div class="parl-action-item @columnClass col-xs-12">
                    <h3>@action.Title</h3>
                    <div class="parl-action-time">
                        <img src="~/Content/img/stopwatch-28x28.svg" class="stopwatch" />@action.Eta
                    </div>
                    <div class="parl-action-basic-content">
                        @Html.Raw(action.BasicContent)
                    </div>
                    <div class="parl-action-content">
                        @Html.Partial(action.ActionView, action.ActionModel)
                    </div>
                </div>
            }
        </div>
        if ((action.IsPrimary || (!action.IsPrimary && secondaryActionCount % 2 == 0))
            && (Model.ActionsItems.IndexOf(action) + 1) != Model.ActionsItems.Count)  //TODO - move to view model builder

        {
            <hr class="break col-xs-12" />
        }
    }
</div>