@model IList<Parliament.Interact.Web.Models.IssueViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            @{
                var issueIndex = 1;
            }
            @foreach (var issue in Model)
            {
                var collapseId = "collapse" + issue.Id;
                var headingId = "heading" + issue.Id;
                var panelHeaderColourClass = "";

                if (issueIndex % 3 == 0)
                {
                    panelHeaderColourClass = "orangeHeaderBackground";
                }

                if (issueIndex % 3 == 1)
                {
                    panelHeaderColourClass = "blueHeaderBackground";
                }

                if (issueIndex % 3 == 2)
                {
                    panelHeaderColourClass = "purpleHeaderBackground";
                }

                <div class="issues-panel panel panel-default">
                    <div class="panel-heading @panelHeaderColourClass" role="tab" id="headingOne">
                        <div class="panel-header col-xs-9">
                            <h1 class="panel-title"><span class="panel-header-index">#@issueIndex</span> @issue.Title</h1>
                        </div>
                        <div class="panel-heading-button col-sm-2 col-xs-3">
                            <a class="btn btn-default btn-block" role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                OPEN
                            </a>
                        </div>
                        <div class="col-sm-1 hidden-xs last-panel-heading-column"></div>
                    </div>
                    <div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                issueIndex += 1;
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
