@model Parliament.Interact.Web.Models.IssuesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            @foreach (var issue in Model.Issues)
            {
                var collapseId = "collapse" + issue.Id;
                var headingId = "heading" + issue.Id;

                <div class="issues-panel panel panel-default parl-center">
                    <div class="panel-heading @issue.BackgroundColorClass" role="tab" id="headingOne">
                        <div class="panel-header col-xs-8 col-md-9">
                            <h1 class="panel-title"># @issue.Title</h1>
                        </div>
                        <div class="panel-heading-button col-md-3 col-xs-3">
                            <a class="btn btn-default btn-block parl-expand-collapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId">OPEN</a>
                        </div>
                        <div class="col-sm-1 hidden-xs hidden-sm last-panel-heading-column"></div>
                    </div>
                    <div id="@collapseId" class="panel-collapse collapse @issue.BackgroundColorClass" role="tabpanel" aria-labelledby="@headingId">
                        @Html.Partial("_PanelBody", issue)
                        <div class="parl-bottom-action @issue.BackgroundColorClass"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
