<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="col-xs-12">
        <header>
            <div class="header-links col-xs-12">
                <div class="col-xs-1 pull-right"><a href="#">About</a></div>
                <div class="col-xs-2 pull-right"><a href="#">Back to parliament.uk</a> | </div>
            </div>
            <h1 class="text-center">Interact</h1>
            <h2 class="text-center">Take action on Trending issues</h2>
        </header>
        <div class="container-fluid body-content">
            @RenderBody()
            <footer>
                <div class="col-xs-6 col-centered footer-description">
                    <p>Trending issues ar aggregated from a number of statistical sources.</p>
                    <p>This allows us to curate guides and specific actions for issues currently</p>
                    <p>in the public eye. The Interact page updates on a bi-weekly basis to</p>
                    <p>reflect these trends.</p>
                </div>
                <div class="col-xs-4 col-centered footer-title">
                    <p>Accessibility | &copy; @DateTime.Now.Year - Parliament.uk</p>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
