@using Parliament.Interact.Web.Models
@model Parliament.Interact.Web.Models.Base.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <!-- Google Analytics Content Experiment code -->
    <script>
function utmx_section(){}function utmx(){}(function(){var
k='119370955-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script>
    <script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/fontawesomebundle")
    @Styles.Render("~/Content/jsSocial")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.www.interact-parliament.uk"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//pdsfluxx.piwikpro.com/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//pdsfluxx.piwikpro.com/piwik.php?idsite=1" style="border: 0;" alt=""/>
        </p>
    </noscript>
    <!-- End Piwik Code -->
    @Html.Partial("_GoogleAnalytics", Model)

</head>
<body>

@Html.Partial("_TagManager", Model)

@Html.Partial("_Header", new AboutModel { DisplayAbout = true })
@Html.Partial("_Modal")
@RenderBody()
@Html.Partial("_Footer")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/unobtrusiveAjax")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jsSocial")
@Scripts.Render("~/bundles/src")
@RenderSection("scripts", required: false)
</body>
</html>
