@model Parliament.Interact.Web.Models.IssueViewModel

<div class="panel-body">
    <div class="row col-xs-12">
        @Html.Partial("~/Views/Issues/_IntroductionContent.cshtml", Model)
        <div class="col-md-6 col-xs-12">
            @Html.Partial("~/Views/Issues/_IssueImageView.cshtml", Model)
            @Html.Partial("~/Views/Issues/_IssueFurtherReading.cshtml", Model)
        </div>
    </div>
    <hr class="break"/>
    <div class="row col-xs-12">
        @Html.Partial("~/Views/Issues/_IssueTimeLine.cshtml", Model)
        @Html.Partial("~/Views/Issues/_Actions.cshtml", Model)
    </div>
</div>

