@model Parliament.Interact.Web.Models.IssueViewModel

<div class="panel-body">
    <div class="desktop-issue-introduction-container col-xs-12">
        @Html.Partial("~/Views/Issues/_IntroductionContent.cshtml", Model)
        <div class="col-md-6 col-xs-12">
            @Html.Partial("~/Views/Issues/_IssueImageView.cshtml", Model)
            @Html.Partial("~/Views/Issues/_IssueFurtherReading.cshtml", Model)
        </div>
    </div>
    @if (Model.TimeLines.Any())
    {
        <hr class="break col-xs-12" />
    }
    <div class="col-xs-12">
        @Html.Partial("~/Views/Issues/_IssueTimeLine.cshtml", Model)
    </div>
    <h2 class="parl-action-items-title col-xs-12">What can I do about it?</h2>
    @Html.Partial("~/Views/Issues/_Actions.cshtml", Model)
</div>

