@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.PetitionsModel

<div class="parl-petitions parl-action">
    <div class="parl-top-petitions">
        <div class="parl-petition-items-header">
        <h5 class="petitions-header">Top @Model.MaxCount relevant petitions on petition.parliament.uk</h5>
            <h5 class="pull-right number-of-signatures">No. of Signatures</h5>
        </div>
        <div class="parl-petition-items">
            @foreach (var petition in Model.Petitions)
            {
                <div class="parl-petition-item col-xs-12 row">
                    <div class="parl-petition-item-link">
                        <a href="@petition.Link" onClick="ga('send', 'event', 'call-to-actions', 'click', 'all events');" target="_blank">@petition.LinkName</a>
                        <span class="parl-petition-item-signatures-desktop pull-right">
                        @petition.SignatureCount</span>
                        <div class="parl-petition-item-signatures-mobile">@petition.SignatureCount signatures</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parl-button-group">
        <a id="view-petitions" class="btn parl-button parl-secondary-button petitions-button" href="@Model.ViewAllUrl" onClick="ga('send', 'event', 'call-to-actions', 'click', 'all events');">VIEW RELEVANT PETITIONS</a>
        <a id="start-petition" class="btn parl-button parl-secondary-button petitions-button" href="@Model.CreateUrl" onClick="ga('send', 'event', 'call-to-actions', 'click', 'all events');">START A NEW PETITION</a>
    </div>
</div>