@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.PetitionsModel

<div class="parl-petitions parl-action">
    <div class="parl-top-petitions">
        <h4>Top @Model.MaxCount Open Petitions</h4>
        <div class="parl-petition-items">
            @foreach (var petition in Model.Petitions)
            {
                <div class="parl-petition-item col-xs-12 row">
                    <div class="parl-petition-item-number col-md-1 col-sm-1 hidden-xs">
                        #@petition.LogicalOrder
                    </div>
                    <div class="parl-petition-item-link col-md-7 col-sm-9 col-xs-12">
                        <a href="@petition.Link">@petition.LinkName</a>
                    </div>
                    <div class="parl-petition-item-signed col-md-4 col-sm-2 hidden-xs">
                        @petition.SignatureCount
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parl-button-group">
        <a class="btn btn-success" href="@Model.ViewAllUrl">View all petitions</a>
        <a class="btn btn-success" href="@Model.CreateUrl">Create new petitions</a>
    </div>
</div>