@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.PetitionsModel

<div class="parl-petitions parl-action">
    <h3>Sign a Petition</h3>
    <div class="parl-action-time">
        No more than 5 minutes
    </div>
    <div class="parl-action-content"></div>
    <div class="parl-top-petitions">
        <h4>Top @Model.PetitionMaxCount Open Petitions</h4>
        <div class="parl-petition-items">
            @foreach (var petition in Model.Petitions)
            {
                <div class="parl-petition-item">
                    <div class="parl-petition-item-number">
                        @petition.LogicalOrder
                    </div>
                    <div class="parl-petition-item-link">
                        <a href="@petition.Link">@petition.LinkName</a>
                    </div>
                    <div class="parl-petition-item-signed">
                        @petition.SignatureCount
                    </div>
                </div>
            }
        </div>
    </div>
</div>